<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Empresa</title>
    <link rel="stylesheet" href="../styles/candidatos-vagas.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">
</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/cadastrar-vaga">Cadastrar Vaga</a></li>
                <li><a href="/vagas-cadastradas">Vagas Cadastradas</a></li>
                <li><a href="/candidatos-vagas">Candidatos</a></li>
                <li><a href="/dashboard-empresa">Dashboard</a></li>
                <li><a href="/login" class="Sair-link">Sair</a></li>
            </ul>
        </div>
    </div>
    <h2>Vagas Candidatadas</h2>
    <div class="filtro-vulnerabilidade">
        <label for="filtro-vulnerabilidade">Filtrar por Vulnerabilidade:</label>
        <select id="filtro-vulnerabilidade" multiple>
            <option value="">Todas</option>
            <option value="LGBTQIA+">LGBTQIA+</option>
            <option value="Baixa Renda">Baixa Renda</option>
            <option value="Mulher">Mulher</option>
            <option value="PCD">PCD</option>
            <option value="Negro(a)">Negro(a)</option>
        </select>

        <div class="filtro-tipo-trabalho">
            <label for="filtro-tipo-trabalho">Tipo de Trabalho:</label>
            <select id="filtro-tipo-trabalho">
                <option value="">Todos</option>
                <option value="Home Office">Home Office</option>
                <option value="Híbrido">Híbrido</option>
                <option value="Presencial">Presencial</option>
            </select>
        </div>
    </div>

    <div class="container">

        <% if (candidaturas.length> 0) { %>
            <ul class="vagas-list">
                <% candidaturas.forEach((candidatura)=> { %>
                    <li class="vaga" data-vulnerabilidade="<%= candidatura.vulnerabilidade %>"
                        data-tipo-trabalho="<%= candidatura.tipo_trabalho %>">
                        <img src="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" alt="Ícone da Vaga"
                            style="width: 50px; height: 50px;">
                        <h3>
                            <%= candidatura.titulo %>
                        </h3>
                        <div class="vaga-info">
                            <p><span class="campo">Nome: </span>
                                <%= candidatura.nomeCompleto %>
                            </p>
                            <p><span class="campo">Localização: </span>
                                <%= candidatura.localizacao %>
                            </p>
                            <p><span class="campo">Vulnerabilidade: </span>
                                <%= candidatura.vulnerabilidade %>
                            </p>
                            <p><span class="campo">Fase: </span>
                                <%= candidatura.estado %>
                            </p>

                            <% if (candidatura.estado==='Teste' ) { %>
                                <p><span class="campo">Status do Teste: </span>
                                    <%= candidatura.status_teste %>
                                </p>
                                <% } else if (candidatura.estado==='Entrevista' ) { %>
                                    <% if (candidatura.status_entrevista==='Confirmado' ) { %>
                                        <p><span class="campo">Status da Entrevista: </span>
                                            <%= candidatura.status_entrevista %>
                                        </p>
                                        <p><span class="campo">Data da Entrevista: </span>
                                            <%= candidatura.data_entrevista %>
                                        </p>
                                        <% } else { %>
                                            <p><span class="campo">Status da Entrevista: </span>
                                                <%= candidatura.status_entrevista %>
                                            </p>
                                            <% if (candidatura.status_entrevista !=='Confirmado' ) { %>
                                                <p><span class="campo">Data da Entrevista: </span>
                                                    <%= candidatura.data_entrevista %>
                                                </p>

                                                <p>

                                                    <span class="campo">Agendar Entrevista: </span>
                                                    <input type="datetime-local"
                                                        class="data-entrevista input-data-entrevista"
                                                        data-candidatura-id="<%= candidatura.userId %>"
                                                        data-vaga-id="<%= candidatura.vagaId %>"
                                                        data-candidatura-data-entrevista="<%= candidatura.dataEntrevista %>">
                                                    <button class="agendar-entrevista"
                                                        data-candidatura-id="<%= candidatura.userId %>"
                                                        data-vaga-id="<%= candidatura.vagaId %>"
                                                        data-candidatura-data-entrevista="<%= candidatura.dataEntrevista %>">Agendar
                                                        Entrevista</button>
                                                </p>
                                                <% } %>
                                                    <% } %>
                                                        <% } else if (candidatura.estado==='Feedback' ) { %>
                                                            <button class="enviar-feedback"
                                                                data-candidatura-id="<%= candidatura.userId %>"
                                                                data-vaga-id="<%= candidatura.vagaId %>">Enviar
                                                                Feedback</button>
                                                            <% } %>
                                                                <% if (candidatura.estado !=='Feedback' ) { %>
                                                                    <span>
                                                                        <button class="avancar-fase"
                                                                            data-candidatura-id="<%= candidatura.userId %>"
                                                                            data-vaga-id="<%= candidatura.vagaId %>">Avançar
                                                                            para a Próxima Fase</button>
                                                                    </span>
                                                                    <% } %>
                                                                        <p><span>
                                                                                <button class="excluir-candidato"
                                                                                    data-candidatura-id="<%= candidatura.userId %>"
                                                                                    data-vaga-id="<%= candidatura.vagaId %>">Excluir
                                                                                    Candidato</button>
                                                                            </span></p>
                        </div>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>Você ainda não recebeu nenhuma candidatura.</p>
                <% } %>
    </div>
    <div class="modal" id="feedbackModal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h3>Enviar Feedback</h3>
            <textarea id="feedbackText" rows="5" style="min-width: 300px; padding: 10px; min-height: 350px;"
                placeholder="Digite seu feedback aqui"></textarea>
            <button id="submitFeedback">Enviar</button>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            // Adicione um evento de alteração no filtro de Tipo de Trabalho
            $('#filtro-tipo-trabalho').on('change', function () {
                var filtroTipoTrabalho = $(this).val();
                $('.vaga').hide();

                if (filtroTipoTrabalho === '') {
                    $('.vaga').show();
                } else {
                    $('.vaga[data-tipo-trabalho="' + filtroTipoTrabalho + '"]').show();
                }
            });

            $('#filtro-vulnerabilidade').on('change', function () {
                var selectedVulnerabilities = $('#filtro-vulnerabilidade').val();
                $('.vaga').hide();

                if (selectedVulnerabilities.length === 0) {
                    $('.vaga').show();
                } else {
                    selectedVulnerabilities.forEach(function (vulnerability) {
                        $('.vaga[data-vulnerabilidade*="' + vulnerability + '"]').show();
                    });
                }
            });
            $(document).ready(function () {
                var menuExpanded = false;
                var hamburger = $('.hamburger');

                $('.hamburger, .menu-inner').on('mouseenter', function () {
                    $(this).parent().addClass('expanded');
                    menuExpanded = true;
                });

                $('.menu-inner').on('mouseleave', function () {
                    menuExpanded = false;
                    $(this).parent().removeClass('expanded');
                });

                function svgCurve() {
                    if (menuExpanded) {
                        // Lógica para expandir o menu
                    } else {
                        // Lógica para contrair o menu
                    }

                    // Outras lógicas conforme necessário

                    window.requestAnimationFrame(svgCurve);
                }
            });

            $(document).ready(function () {
                $('.excluir-candidato').on('click', function () {
                    const candidaturaId = $(this).data('candidatura-id');
                    const vagaId = $(this).data('vaga-id');

                    $.post(`/excluir-candidato/${candidaturaId}/${vagaId}`, function (data) {
                        location.reload();
                    });
                });

                $('.avancar-fase').on('click', function () {
                    const candidaturaId = $(this).data('candidatura-id');
                    const vagaId = $(this).data('vaga-id');

                    $.post(`/avancar-fase/${candidaturaId}/${vagaId}`, function (data) {
                        location.reload();
                    });
                });

                $('.agendar-entrevista').on('click', function () {
                    const candidaturaId = $(this).data('candidatura-id');
                    const vagaId = $(this).data('vaga-id');
                    const dataEntrevista = $('.data-entrevista[data-candidatura-id="' + candidaturaId + '"]').val();
                    $.post(`/agendar-entrevista/${candidaturaId}/${vagaId}`, { dataEntrevista: dataEntrevista }, function (data) {
                        location.reload(); // Atualize a página após agendar a entrevista
                    });
                });

                $('.enviar-feedback').on('click', function () {
                    // Recupere o candidaturaId e vagaId dos atributos de dados dos botões
                    const candidaturaId = $(this).data('candidatura-id');
                    const vagaId = $(this).data('vaga-id');

                    console.log(candidaturaId)
                    console.log(vagaId)


                    // Configure o modal para incluir os IDs da vaga e da candidatura
                    $('#submitFeedback').data('candidatura-id', candidaturaId);
                    $('#submitFeedback').data('vaga-id', vagaId);

                    $('#feedbackModal').css('display', 'block');
                });

                $('#closeModal').on('click', function () {
                    $('#feedbackModal').css('display', 'none');
                });

                $('#submitFeedback').on('click', function () {
                    // Recupere o candidaturaId e vagaId dos atributos de dados do botão #submitFeedback
                    const candidaturaId = $(this).data('candidatura-id');
                    const vagaId = $(this).data('vaga-id');
                    const feedbackText = $('#feedbackText').val();


                    console.log(candidaturaId)
                    console.log(vagaId)
                    console.log(feedbackText)
                    // Faça uma solicitação POST para enviar o feedback para o servidor
                    $.post(`/enviar-feedback/${candidaturaId}/${vagaId}`, { feedbackText: feedbackText }, function (data) {
                        // Feedback enviado com sucesso, você pode fazer algo aqui, como atualizar a interface do usuário
                        $('#feedbackModal').css('display', 'none'); // Feche o modal
                    })
                        .fail(function (error) {
                            // Lidar com erros, se houver algum
                            console.error('Erro ao enviar o feedback: ' + error);
                        });
                });
            });

        </script>
</body>

</html>