<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Empresa</title>
    <link rel="stylesheet" href="../styles/candidatos-vagas.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">
</head>

<body>
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class "line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/cadastrar-vaga">Cadastrar Vaga</a></li>
                <li><a href="/vagas-cadastradas">Vagas Cadastradas</a></li>
                <li><a href="/candidatos-vagas">Candidatos</a></li>
                <li><a href="/dashboard-empresa">Dashboard</a></li>
                <li><a href="/login" class="Sair-link">Sair</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <h2>Vagas Candidatadas</h2>
        <% if (candidaturas.length> 0) { %>
            <ul class="vagas-list">
                <% candidaturas.forEach((candidatura)=> { %>
                    <li class="vaga" data-vulnerabilidade="<%= candidatura.vulnerabilidade %>">
                        <img src="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" alt="Ícone da Vaga"
                            style="width: 50px; height: 50px;">
                        <h3>
                            <%= candidatura.titulo %>
                        </h3>
                        <div class="vaga-info">
                            <p><span class="campo">Nome:</span>
                                <%= candidatura.nomeCompleto %>
                            </p>
                            <p><span class="campo">Localização:</span>
                                <%= candidatura.localizacao %>
                            </p>
                            <p><span class="campo">Vulnerabilidade:</span>
                                <%= candidatura.vulnerabilidade %>
                            </p>
                            <p><span class="campo">Fase:</span>
                                <%= candidatura.estado %>
                            </p>
                            <p><span> <button class="avancar-fase" data-candidatura-id="<%= candidatura.userId %>"
                                        data-vaga-id="<%= candidatura.vagaId %>">Avançar para a Próxima
                                        Fase</button></span></p>
                            <p>
                                <span>

                                    <p>
                                       
                                        <% if (candidatura.estado==='Entrevista' ) { %>
                                            <span class="campo">Data da Entrevista:</span>
                                            <input type="date" class="data-entrevista input-data-entrevista"
                                                data-candidatura-id="<%= candidatura.userId %>"
                                                data-vaga-id="<%= candidatura.vagaId %>"
                                                data-candidatura-data-entrevista="<%= candidatura.dataEntrevista %>">
                                            <button class="agendar-entrevista"
                                                data-candidatura-id="<%= candidatura.userId %>"
                                                data-vaga-id="<%= candidatura.vagaId %>"
                                                data-candidatura-data-entrevista="<%= candidatura.dataEntrevista %>">Agendar
                                                Entrevista</button>
                                            <% } %>
                                    </p>
                                </span>

                                <button class="excluir-candidato" data-candidatura-id="<%= candidatura.userId %>"
                                    data-vaga-id="<%= candidatura.vagaId %>">Excluir Candidato</button>
                                </span>
                            </p>
                        </div>
                    </li>
                    <% }); %>
            </ul>
            <% } else { %>
                <p>Você ainda não recebeu nenhuma candidatura.</p>
                <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            function svgCurve() {
                if (menuExpanded) {
                    // Lógica para expandir o menu
                } else {
                    // Lógica para contrair o menu
                }

                // Outras lógicas conforme necessário

                window.requestAnimationFrame(svgCurve);
            }
        });

        $(document).ready(function () {
            $('.excluir-candidato').on('click', function () {
                const candidaturaId = $(this).data('candidatura-id');
                const vagaId = $(this).data('vaga-id');

                $.post(`/excluir-candidato/${candidaturaId}/${vagaId}`, function (data) {
                    location.reload();
                });
            });

            $('.avancar-fase').on('click', function () {
                const candidaturaId = $(this).data('candidatura-id');
                const vagaId = $(this).data('vaga-id');

                $.post(`/avancar-fase/${candidaturaId}/${vagaId}`, function (data) {
                    location.reload();
                });
            });

            $('.agendar-entrevista').on('click', function () {
                const candidaturaId = $(this).data('candidatura-id');
                const vagaId = $(this).data('vaga-id');
                const dataEntrevista = $('.data-entrevista[data-candidatura-id="' + candidaturaId + '"]').val();
                console.log('candidaturaId:', candidaturaId);
                console.log('vagaId:', vagaId);
                console.log('dataEntrevista:', dataEntrevista);
                $.post(`/agendar-entrevista/${candidaturaId}/${vagaId}`, { dataEntrevista: dataEntrevista }, function (data) {
                    location.reload(); // Atualize a página após agendar a entrevista
                });
            });
        });
    </script>
</body>

</html>