<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Candidato</title>
    <link rel="stylesheet" href="../styles/vagas-disponiveis.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">
</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/vagas-disponiveis">Vagas Disponíveis</a></li>
                <li><a href="/minhas-vagas">Minhas Vagas</a></li>
                <li><a href="/testes-candidato">Testes</a></li>
                <li><a href="/entrevista-candidato">Entrevistas</a></li>
                <li><a href="/feedback-candidato">Devolutivas</a></li>
                <li><a href="/dashboard-candidato">Dashboard</a></li>
                <li><a href="/login">Sair</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <h2>Testes Disponíveis</h2>

            <% if (vagas.length> 0) { %>
                <ul class="vagas-list">

                    <% vagas.forEach((vaga)=> { %>
                        <% if (vaga.estado==='Feedback' && vaga.status_feedback === 'Enviado') { %>
                            <li class="vaga" data-vulnerabilidade="<%= vaga.vulnerabilidade %>">
                                <img src="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" alt="Ícone da Vaga"
                                    style="width: 50px; height: 50px;">
                                <h3>
                                    <%= vaga.titulo %>
                                </h3>
                                <div class="vaga-info">
                                    <p><span class="campo">Descrição: </span>
                                        <%= vaga.descricao %>
                                    </p>
                                    <p><span class="campo">Salário: </span>
                                        <%= vaga.salario %>
                                    </p>
                                    <p><span class="campo">Vulnerabilidade: </span>
                                        <%= vaga.vulnerabilidade %>
                                    </p>
                                    <p><span class="campo">Tipo de Trabalho: </span>
                                        <%= vaga.tipo_trabalho %>
                                    </p>
                                    <p><span class="campo">Localização: </span>
                                        <%= vaga.localizacao %>
                                    </p>
                                    <p><span class="campo">Devolutiva: </span>
                                        <%= vaga.feedback %>
                                    </p>
                                  
                                </div>
                               
                            </li>
                            <% } %>
                                <% }); %>

                </ul>
                <% } else { %>
                    <p>Nenhuma vaga cadastrada.</p>
                    <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            // Adicione um evento de alteração no menu suspenso
            $('#filtro-vulnerabilidade').on('change', function () {
                var filtroVulnerabilidade = $(this).val();

                $('.vaga').hide();

                if (filtroVulnerabilidade === '') {
                    $('.vaga').show();
                } else {
                    $('.vaga[data-vulnerabilidade="' + filtroVulnerabilidade + '"]').show();
                }
            });


        });

        function realizarTeste(vagaId, candidaturaId) {
            var confirmacao = confirm("Tem certeza de que deseja realizar o teste?");
            console.log(candidaturaId);
            console.log(vagaId);
           
            if (confirmacao) {
                $.post(`/realizar-teste/${candidaturaId}/${vagaId}`, function (data) {
                    if (data === 'Teste realizado com sucesso!') {
                        alert('Teste realizado com sucesso!');
                        location.reload(); // Recarregue a página
                        console.log(confirmacao);
                    }
                })
                    .fail(function (error) {
                        alert('Erro ao realizar o teste.');
                    });
            }
        }


        


    </script>
</body>

</html>