<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Everymind - Empresa</title>
    <link rel="stylesheet" href="../styles/vagas-cadastradas.css">
    <link rel="icon" type="image/png" href="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" id="icon">
</head>

<body>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/empresa-pagina-inicial">Olá, Recrutador 😜</a></li>
                <li><a href="/cadastrar-vaga">Cadastrar Vaga</a></li>
                <li><a href="/vagas-cadastradas">Vagas Cadastradas</a></li>
                <li><a href="/candidatos-vagas">Candidatos</a></li>
                <li><a href="/dashboard-empresa">Dashboard</a></li>
                <li class="Sair-link"><a href="/login">Sair</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2>Vagas Cadastradas</h2>
            <h4>Nesta área, você pode visualizar as vagas de emprego que foram cadastradas e estão disponíveis para os
                candidatos. Esta seção permite à empresa listar e gerenciar todas as oportunidades de emprego
                disponíveis, facilitando o processo de recrutamento e seleção de talentos.</h4>

            <div class="filtro-vulnerabilidade">
                <label for="filtro-vulnerabilidade">Filtrar por Vulnerabilidade:</label>
                <select id="filtro-vulnerabilidade" multiple>
                    <option value="">Todas</option>
                    <option value="LGBTQIA+">LGBTQIA+</option>
                    <option value="Baixa Renda">Baixa Renda</option>
                    <option value="Mulher">Mulher</option>
                    <option value="PCD">PCD</option>
                    <option value="Negro(a)">Negro(a)</option>
                </select>

                <div class="filtro-tipo-trabalho">
                    <label for="filtro-tipo-trabalho">Tipo de Trabalho:</label>
                    <select id="filtro-tipo-trabalho">
                        <option value="">Todos</option>
                        <option value="Home Office">Home Office</option>
                        <option value="Híbrido">Híbrido</option>
                        <option value="Presencial">Presencial</option>
                    </select>
                </div>

            </div>

            <% if (vagas.length> 0) { %>
                <ul class="vagas-list">
                    <% vagas.forEach((vaga)=> { %>
                        <li class="vaga" data-vulnerabilidade="<%= vaga.vulnerabilidade %>"
                            data-tipo-trabalho="<%= vaga.tipo_trabalho %>">
                            <img src="https://i.ibb.co/mR9Cyq3/Logo-Sem-Fundo.png" alt="Ícone da Vaga"
                                style="width: 50px; height: 50px;">
                            <h3>
                                <%= vaga.titulo %>
                            </h3>
                            <div class="vaga-info">
                                <p><span class="campo">Descrição: </span>
                                    <%= vaga.descricao %>
                                </p>
                                <p><span class="campo">Salário: </span>
                                    <%= vaga.salario %>
                                </p>
                                <p><span class="campo">Vulnerabilidade: </span>
                                    <%= vaga.vulnerabilidade %>
                                </p>
                                <p><span class="campo">Tipo de Trabalho: </span>
                                    <%= vaga.tipo_trabalho %>
                                </p>
                                <p><span class="campo">Localização: </span>
                                    <%= vaga.localizacao %>
                                </p>
                            </div>

                        </li>
                        <% }); %>
                </ul>
                <% } else { %>
                    <p>Nenhuma vaga cadastrada.</p>
                    <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            // Adicione um evento de alteração no filtro de Vulnerabilidade
            $('#filtro-vulnerabilidade').on('change', function () {
                var selectedVulnerabilities = $('#filtro-vulnerabilidade').val();
                $('.vaga').hide();

                if (selectedVulnerabilities.length === 0) {
                    $('.vaga').show();
                } else {
                    selectedVulnerabilities.forEach(function (vulnerability) {
                        $('.vaga[data-vulnerabilidade*="' + vulnerability + '"]').show();
                    });
                }
            });


            // Adicione um evento de alteração no filtro de Tipo de Trabalho
            $('#filtro-tipo-trabalho').on('change', function () {
                var filtroTipoTrabalho = $(this).val();
                $('.vaga').hide();

                if (filtroTipoTrabalho === '') {
                    $('.vaga').show();
                } else {
                    $('.vaga[data-tipo-trabalho="' + filtroTipoTrabalho + '"]').show();
                }
            });
        });
    </script>
</body>

</html>