<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Everymind - Candidato</title>
    <link rel="stylesheet" href="../styles/vagas-cadastradas.css">
    <link rel="icon" href="everymind-removebg-preview.png" type="image/png">

    <style>
        /* Adicione estilos inline para os cards */
        .vaga {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            width: 30%; 
            display: inline-block;
            vertical-align: top; 
        }

        .vaga h3 {
            font-size: 24px;
            margin: 0 0 10px;
            color: #333;
        }

        .campo {
            font-weight: bold;
            color: #333;
        }

        
        .vaga-info p {
            margin: 5px 0;
            color: #555;
        }

        h2 {
            text-align: center; 
            font-size: 28px; 
            color: black;
            padding: 3%;
        }

        /* Estilos do filtro */
        .filtro-vulnerabilidade {
            text-align: center; 
            margin: 20px 0; 
        }

        .filtro-vulnerabilidade label {
            font-weight: bold;
            color: #333;
        }
    </style>
</head>
<body>
    <div id="menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="menu-inner">
            <ul>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/cadastrar-vaga">Cadastrar Vaga</a></li>
                <li><a href="/vagas-cadastradas">Vagas Cadastradas</a></li>
                <li><a href="/entrevistas">Entrevistas</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h2>Vagas Cadastradas</h2>
            <div class="filtro-vulnerabilidade">
                <label for="filtro-vulnerabilidade">Filtrar por Vulnerabilidade:</label>
                <select id="filtro-vulnerabilidade">
                    <option value="">Todas</option>
                    <option value="LGBTQIA+">LGBTQIA+</option>
                    <option value="Baixa Renda">Baixa Renda</option>
                    <option value="Mulher">Mulher</option>
                    <option value="PCD">PCD</option>
                    <option value="Negro(a)">Negro(a)</option>
                </select>
            </div>

            <% if (vagas.length > 0) { %>
                <ul class="vagas-list">
                    <% vagas.forEach((vaga) => { %>
                        <li class="vaga" data-vulnerabilidade="<%= vaga.vulnerabilidade %>">
                            <h3><%= vaga.titulo %></h3>
                            <div class="vaga-info">
                                <p><span class="campo">Descrição:</span> <%= vaga.descricao %></p>
                                <p><span class="campo">Salário:</span> <%= vaga.salario %></p>
                                <p><span class="campo">Vulnerabilidade:</span> <%= vaga.vulnerabilidade %></p>
                                <p><span class="campo">Tipo de Trabalho:</span> <%= vaga.tipo_trabalho %></p>
                                <p><span class="campo">Localização:</span> <%= vaga.localizacao %></p>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Nenhuma vaga cadastrada.</p>
            <% } %>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            var menuExpanded = false;
            var hamburger = $('.hamburger');

            $('.hamburger, .menu-inner').on('mouseenter', function () {
                $(this).parent().addClass('expanded');
                menuExpanded = true;
            });

            $('.menu-inner').on('mouseleave', function () {
                menuExpanded = false;
                $(this).parent().removeClass('expanded');
            });

            // Adicione um evento de alteração no menu suspenso
            $('#filtro-vulnerabilidade').on('change', function () {
                var filtroVulnerabilidade = $(this).val();

        
                $('.vaga').hide();

            
                if (filtroVulnerabilidade === '') {
                    $('.vaga').show();
                } else {
                    
                    $('.vaga[data-vulnerabilidade="' + filtroVulnerabilidade + '"]').show();
                }
            });

        });
    </script>
</body>
</html>
